body{
    width: 960px;
    background-image: url(file:///Users/zanderdyer/Downloads/what-the-hex%203/what-the-hex.png);
    height: 960px;
    float: center;
}

h1 {
    background-color: teal;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 150px;
}

p { 
    color: #777777;
    line-height: 30px;
    background-color: #ffffff;
    border-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: auto;

}


head {
    border-color: #cccccc;
}

.container{
    font-size: medium;
    background-color: #ffffff;
    border-color: #dddddd;
    height: 300px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    float: center;

}

h2 {
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    padding: 14px;
}

img{
    float: left;
    width: 140px;
    height: 180px;

}

footer {  

    background-color: #666666;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}

#masthead{
    position: top;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;

}

#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}

nav {
    float: right;
    margin-top: 25px;

}